<section class="new-arrival-section margin-y">
  <div class="row padding">
    <div class="section-heading">
      <h2 class="text-center">New Arrival</h2>
    </div>
  </div>
  <div class="product-cards margin-y1 padding-x1">
    <div class="row">
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival1.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-title">
            <h4>Fastrack Refl Smart Watch</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 7995/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival2.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-heading">
            <h4>Iphone 15 Pro Max 265 GB Natural Titanium (Singapore)</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 239,999/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival3.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-heading">
            <h4>Haylou Solar Plus Calling Smartwatch RT3 (LS16)</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 5050/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival4.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-heading">
            <h4>Iphone 15 Pro Max 265 GB Natural Titanium (Singapore)</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 239,999/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival4.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-heading">
            <h4>Iphone 15 Pro Max 265 GB Natural Titanium (Singapore)</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 239,999/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival5.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="save-price">
            <p>Save 5,001/-</p>
            <span></span>
          </div>
          <div class="card-heading">
            <h4>Smart Kitchen Combo Set</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 9,999/- <del>15000/-</del> </p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival7.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-heading">
            <h4>XTRA Active S7 Bluetooth Calling Smartwatch</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 2,287/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-3 col-md-6 mb-3">
        <div class="card product-card">
          <div class="card-img">
            <img src="./assets/Home-images/feature-product-img/featuredArrival8.png" alt="..." class="img-fluid w-100">
          </div>
          <div class="card-heading">
            <h4>Iphone 15 Pro Max 265 GB Natural Titanium (Singapore)</h4>
          </div>
          <div class="card-bottom">
            <div class="card-price">
              <p>Price: 239,999/-</p>
            </div>
            <div class="card-btn d-flex justify-content-between">
              <button class="bg-dark-color common-btn text-light">Add to cart
              </button>
              <button class="bg-warning-color common-btn">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="see-more d-flex justify-content-center">
    <a href="#" class="fw-bold">See More<i class="fa-solid fa-angle-down"></i></a>
  </div>
</section>
