<header class="header-section">
  <div class="top-header bg-warning-color padding-x d-flex align-items-center">
    <p>Wecome to gadgetgalaxy.com</p>
  </div>
  <div class="main-header bg-light padding-x pt-3">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-2">
        <div class="logo">
          <a href="#">
            <img src="./assets/Header-img/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12-6 mb-2 d-flex align-items-center">
        <div class="search d-flex justify-content-center align-items-center">
          <input type="text" placeholder="Search Products" class="px-2 border-0">
          <button class="bg-warning-color d-flex justify-content-center align-items-center border-0">
            <i class="fa-solid fa-magnifying-glass text-white"></i></button>
        </div>
      </div>
      <div class="col-lg-4 col-md-12-6 mb-2 d-flex justify-content-end screen-md">
        <div class="d-flex align-items-center justify-content-center">
          <div class="header-icon">
            <i class="fa-solid fa-gift fs-5"></i>
            <span>Offers</span>
          </div>
          <div class="header-icon">
            <i class="fa-solid fa-cart-shopping fs-5"></i>
          </div>
          <div class="header-icon">
            <i class="fa-regular fa-circle-user fs-5"></i>
          </div>
          <div class="header-btn d-flex justify-content-center align-items-center">
            <button class="glow-on-hover common-btn" type="button">Pc Biulder</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="navbar navbar-expand-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title d-flex justify-content-between" id="offcanvasNavbarLabel">
              <a class="navbar-brand" href="#">
                <img src="./assets/Header-img/logo.png" alt="Logo"
                     class="d-inline-block align-text-top"/>
              </a>
            </h5>
            <i class="fa-solid fa-xmark close" data-bs-dismiss="offcanvas"></i>
          </div>

          <div class="offcanvas-body">
            <ul class="nav-menu list-unstyled">
              <li><a href="#">Desktop
                <i class="fa-solid fa-angle-down"></i></a></li>
              <li><a href="#">Laptop
                <i class="fa-solid fa-angle-down"></i></a></li>
              <li><a href="#">Tablet PC
                <i class="fa-solid fa-angle-down"></i></a></li>
              <li><a href="#">Phone
                <i class="fa-solid fa-angle-down"></i></a></li>
              <li><a href="#">Camera & Security
                <i class="fa-solid fa-angle-down"></i></a></li>
              <!----dropdown---->
              <li class="dropdown">
                <ul class="main-menu">
                  <li><a href="#">Accessories
                    <i class="fa-solid fa-angle-down"></i>
                  </a>
                    <ul class="sub-menu">
                      <li><a href="#">Router</a></li>
                      <li><a href="#">Headphone
                        <i class="fa-solid fa-angle-right ms-1"></i>
                      </a>
                        <ul class="multi-sub-menu">
                          <li><a href="#">Item 1</a></li>
                          <li><a href="#">Item 2</a></li>
                          <li><a href="#">Item 3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Monitor</a></li>
                    </ul>
                  </li>
                </ul>
              </li>


              <!------------>
              <li><a href="#">Software & Network</a>
                <i class="fa-solid fa-angle-down"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
