<section class="banner-section">
  <div class="row padding-x">
    <div class="routing-menu">
      <a href="#">Home</a>
      <i class="fa-solid fa-angle-right"></i>
      <a href="#">Laptop</a>
      <i class="fa-solid fa-angle-right ms-1"></i>
      <a href="#">MacBook</a>
      <i class="fa-solid fa-angle-right ms-1"></i>
      <a href="#">Apple MacBook Pro 16 inch m3</a>
    </div>

    <div class="product-details">
      <div class="row">
        <div class="col-xl-4 mb-3">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                      class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                      aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <div class="carousel-img">
                  <img src="./assets/Product-discount-details-images/product-discount-details-banner/carousel4.png" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="save-price">
                  <p>Save 2000/-</p>
                  <span></span>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="carousel-img">
                  <img src="./assets/Product-discount-details-images/product-discount-details-banner/carousel2.png" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="save-price">
                  <p>Save 2000/-</p>
                  <span></span>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="carousel-img">
                  <img src="./assets/Product-discount-details-images/product-discount-details-banner/carousel3.png" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="save-price">
                  <p>Save 2000/-</p>
                  <span></span>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="carousel-img">
                  <img src="./assets/Product-discount-details-images/product-discount-details-banner/carousel4.png" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="save-price">
                  <p>Save 2000/-</p>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="product-details">
            <div class="product-details-title">
              <h2>Apple MacBook Pro 16 inch m3 Pro Chip Liquid Retina Display 18GB RAM 512GB SSD
                Space</h2>
            </div>
            <div class="product-details-info">
              <button>Price: <span>287,995/-</span></button>
              <button>Regular Price: <span>292,996/-</span></button>
              <button>Brand: <span>Apple</span></button>
              <button>Status: <span>In Stock</span></button>
              <button>Code: <span>320059</span></button>
            </div>
            <div class="product-details-key-feature">
              <h4 class="fw-bold">Key features</h4>
              <ul>
                <li>MPN: MRW13LL/A</li>
                <li>Model: MacBook Pro M3 Pro</li>
                <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                <li>RAM: 18GB, Storage: 512GB SSD</li>
                <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                <li>Features: Backlit Magic Keyboard and the Touch ID</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row position-relative">
        <div class="col-lg-6 mb-3">
          <div class="view-more-img">
            <p>View 4 More Pictures</p>
            <div class="all-img">
              <img src="./assets/Product-discount-details-images/product-discount-details-banner/banner2.png" alt="" class="img-fluid">
              <img src="./assets/Product-discount-details-images/product-discount-details-banner/banner3.png" alt="" class="img-fluid">
              <img src="./assets/Product-discount-details-images/product-discount-details-banner/banner4.png" alt="" class="img-fluid">
              <img src="./assets/Product-discount-details-images/product-discount-details-banner/banner5.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-details-btn d-flex">
            <div class="increment-decrement d-flex align-items-center">
              <button class="border-0 d-flex align-items-center justify-content-center"><i
                class="fa-solid fa-minus"></i></button>
              <span class="mx-1">1</span>
              <button class="border-0 d-flex align-items-center justify-content-center"><i
                class="fa-solid fa-plus"></i></button>
            </div>
            <div class="add-buy-btn d-flex">
              <button class="bg-dark-color common-btn text-light fw-bold">Add to Cart</button>
              <button class="bg-warning-color common-btn fw-bold">Buy Now</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</section>
