<section class="macbook-section">
  <div class="section-heading margin-y1">
    <h2 class="text-center">MackBook</h2>
  </div>
  <div class="row">
    <div class="product-cards">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook1.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook2.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook3.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook4.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook5.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook6.png" class="card-img-top p-2" alt="...">
            <div class="save-price">
              <p>Save 2000/-</p>
              <span></span>
            </div>
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price d-flex">
                  <p>Price: 287,995/-<span><del>287,995/-</del></span></p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook7.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook8.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook9.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook1.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook2.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook3.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook4.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook5.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook6.png" class="card-img-top p-2" alt="...">
            <div class="save-price">
              <p>Save 2000/-</p>
              <span></span>
            </div>
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price d-flex">
                  <p>Price: 287,995/-<span><del>287,995/-</del></span></p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook7.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook8.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook9.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook1.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook2.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook3.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook4.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook5.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook6.png" class="card-img-top p-2" alt="...">
            <div class="save-price">
              <p>Save 2000/-</p>
              <span></span>
            </div>
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price d-flex">
                  <p>Price: 287,995/-<span><del>287,995/-</del></span></p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook7.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook8.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook9.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook1.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook2.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>

                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook3.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-3">
          <div class="card">
            <img src="./assets/category-details-img/mackbook4.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="card">
            <img src="./assets/category-details-img/mackbook5.png" class="card-img-top p-2" alt="...">
            <div class="card-body">
              <h4 class="laptop-card-title">Apple MacBook Pro 16 inch m3 max (A1708)</h4>
              <div class="card-details my-3">
                <ul>
                  <li>MPN: MRW13LL/A</li>
                  <li>Model: MacBook Pro M3 Pro</li>
                  <li>Processor: Apple M3 Pro, 12‑core CPU, 18‑core GPU, 16‑core Neural Engine</li>
                  <li>RAM: 18GB, Storage: 512GB SSD</li>
                  <li>Display: 16.2" Liquid Retina display (3456 x 2234)</li>
                  <li>Features: Backlit Magic Keyboard and the Touch ID</li>
                </ul>
                <div class="laptop-card-price ms-2">
                  <p>Price: 287,995/-</p>
                </div>
              </div>
              <div class="laptop-card-btn d-flex justify-content-between">
                <button class="bg-dark-color common-btn text-light">Add to cart
                </button>
                <button class="bg-warning-color common-btn">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="feature-section margin-y">
  <div class="see-more d-flex justify-content-end padding-x1">
    <nav aria-label="...">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link border-0" href="#"><i class="fa-solid fa-angle-left"></i></a></li>
        <li class="page-item"><a class="page-link actived border-0" href="#">1</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">2</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">3</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">4</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">5</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">6</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">7</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">8</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">9</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">10</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">. .</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">18</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">19</a></li>
        <li class="page-item"><a class="page-link border-0" href="#">20</a></li>
        <li class="page-item"><a class="page-link border-0" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
      </ul>
    </nav>
  </div>
</section>
