<app-header></app-header>

<section class="login-area">
  <div class="routing-menu">
    <a href="#">Home</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="#">Profile</a>
    <i class="fa-solid fa-angle-right ms-1"></i>
    <a href="#">sign Up</a>
    <i class="fa-solid fa-angle-right ms-1"></i>
  </div>
  <div class="card login-card">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="login-form">
          <div class="login-title">
            <h4 class="text-center">sign Up</h4>
          </div>
          <form>
            <div class="mb-3">
            <div class="row g-3">
              <div class="col-5">
                <label class="form-label">First Name</label>
                <input type="email" class="form-control" placeholder="First Name*">
              </div>
              <div class="col-2"></div>
              <div class="col-5">
                <label class="form-label">Last Name</label>
                <input type="email" class="form-control" placeholder="Last Name*">
              </div>
            </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input type="email" class="form-control" placeholder="Email address*">
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="********">
              <span class="validation float-end">*Must have 8 caracters including numbers & letters</span>
            </div>
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input type="password" class="form-control" placeholder="********">
            </div>
            <div class="mb-3 form-check d-flex justify-content-between">
              <div>
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Remember Me</label>
              </div>
              <div>
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">Forget Password</label>
              </div>
            </div>
            <div class="login-btn d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
          </form>
          <div class="another-login d-flex">
            <div class="login-with">
              <h4>Sign Up with</h4>
            </div>
            <div class="google-img">
              <img src="./assets/Client-login-img/google-img.png" alt="" class="img-fluid">
            </div>
            <div class="fb-img">
              <img src="./assets/Client-login-img/fb-img.png" alt="" class="img-fluid">
            </div>
          </div>
          <div class="create-account">
            <h6>Already have an account? <span style="color: #0287DF">Log In</span></h6>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
</section>


<app-footer></app-footer>
