<section class="advertisement-section margin-y padding-x1">
  <img src="./assets/Home-images/advertisment-img/addvertesment.png" alt="" class="img-fluid w-100 my-3 margin-y">
  <div class="advertisement-details">
    <div class="advertisement-title">
      <h4 class="text-uppercase fw-bold">Explore the latest and coolest gadgers at Gadger Galaxy</h4>
    </div>
    <div class="advertisement-desc">
      <p class="text-uppercase text-white"> We curate a collection of cutting-edge technology to make your life
        smarter and more enjoyable.</p>
    </div>
    <div class="advertisement-btn">
      <button class="bg-dark-color common-btn text-white">Order Now</button>
    </div>
  </div>
</section>
