header{
  background-color: #0d2137;
  margin-bottom: 50px;
}
.navbar{
  background-color: #0d2137;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-brand img{
  width: 200px;
}
.nav-item{
  margin: 0 5px;
}
.nav-link {
  color: var(--orange);
  font-family: 'Gentium Book Plus', serif;
  font-size: 18px;
  font-weight: bold;
}

.nav-link:hover {
  color:var(--offWhite);
}
.navbar-toggler{
  background: var(--orange);
  border: none;
}
.offcanvas{
  background-color: #0d2137;
  height: 70%;
}


.offcanvas.show:not(.hiding), .offcanvas.showing {
  width: 70%;
}

.close{
  color: #f7d107;
  font-size: 32px;
}
