<app-header></app-header>
<div class="row padding">
  <div class="routing-menu">
    <a href="#">Home</a>
    <i class="fa-solid fa-angle-right"></i>
    <a href="#">Laptop</a>
    <i class="fa-solid fa-angle-right ms-1"></i>
    <a href="#">MacBook</a>
    <i class="fa-solid fa-angle-right ms-1"></i>
  </div>

  <div class="col-md-3">
    <app-filter></app-filter>
  </div>
  <div class="col-md-9">
   <app-macbook></app-macbook>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-people-also-search></app-people-also-search>
  </div>
</div>
<app-footer></app-footer>


