<section class="filter-area">
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Price Range
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
              <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
            </div>

            <div class="price-input ">
              <div class="field">
                <input type="number" class="input-min" value="2500">
              </div>
              <div class="field">
                <input type="number" class="input-max" value="7500">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Availability
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                In Stock
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Pre Order
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Up Coming
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Series
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Consumers Laptop
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Business Laptop
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Gaming Laptop
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Premium Ultrabook Laptops
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Brand
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Apple
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Asus
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Lenovo
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                HP
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                MSI
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Acer
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Processor Type
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                AMD
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Apple
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Microsoft
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Processor Model
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel CDC
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel PQC
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel Core i3
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel Core i5
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel Core i7
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel Core i9
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel Core Ultra 7
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                AMD Athlon
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                AMD Ryzen 3
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Generation/Series
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel 10th Gen
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel 11th GenQC
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel 12th Gen
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel 13th Gen
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Intel 14th Gen
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Ryzen 3000 Series
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Ryzen 4000 Series
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Ryzen 5000 Series
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Ryzen 6000 Series
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Display Size
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Below 13 inch
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                13 inch to 13.9 inch
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                14 inch to 14.9 inch
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                15 inch to 15.9 inch
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                16 inch to 16.9 inch
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                17 inch to 17.9 inch
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Display Type
          </button>
        </h2>
        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                LED
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                OLED
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                AMOLED
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            RAM Size
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                4 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                8 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                16 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                18 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                32 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                36 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                48 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                16 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                16 GB
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            RAM Type
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                DDR3
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                DDR4
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                DDR5
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            HDD
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                1TB
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThirteen" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            SSD
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThirteen" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                64 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                128 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                256 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                512 GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                1 TB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                2 TB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                3 TB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                4 TB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                5 TB
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFourteen" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Graphics
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFourteen" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Shared/Integrated
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 2GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 4GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 6GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 8GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 10GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 12GB
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dedicated 16GB
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseFifteen" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Operating System
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFifteen" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Free Dos
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Windows
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                macOS
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                ChromeOS
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="margin-y1">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button text-dark" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseSixteen" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
            Special Features
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSixteen" class="accordion-collapse collapse show"
             data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Backlit Keyboard
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Finger Print
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                360 <sup>o</sup>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Touch Screen
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Dual Display
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label">
                Type-C Port
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
